.home {
  #signup {
    background-image: linear-gradient(rgba(30, 144, 101, 1), rgba(43, 145, 99, 0.8)), image-url('home-banner-background.jpg');
    height: 100%;
    text-align: center;
    padding: 1rem 0 4rem 0;

    li { list-style-type: none; }
    #apple { fill: $bright-green; }
    h1 {
      color: white;
      font-size: 3rem;
    }

    @media #{$medium-up} {
      height: 100vh;
      padding: 20vh 0;
      li { display: inline-block; }
      h1 { font-size: 4rem; }
    }

    .signup {
      margin-top: 2rem;
      input {
        border-radius: 2px;
        height: 3rem;
      }
    }
  }

  .section {
    padding: 6rem 0;
    background: white;

    img {
      border-radius: 4px;
      box-shadow: 0 0 1px $gray;
    }

    h1 {
      color: $gray;
    }
  }
}
