.home {
  background: white;
  #hero {
    background-image: linear-gradient($accent-green, $green), asset-url('assets/groceries/colorful-groceries.jpg');
    background-size: cover;
    text-align: center;
    padding: 9rem 0;

    li { display: inline-block; }
    h2 { font-size: 2rem; }

    #apple {
      fill: $green;
    }

    .signup {
      margin-top: 2rem;
      input {
        border-radius: 2px;
        height: 3rem;
      }
    }
  }

  #hook {
    margin-top: 9rem;
    h2 { margin-top: 2rem; }
  }
}
