.homepage {
  h1 { font-size: 2.5rem; }
  p { font-size: 1.25rem; }
  .container { padding-top: 0 }

  #signup {
    text-align: center;
    height: 100vh;
    padding: 20vh 0;

    form { margin-top: 2.5rem; }
    input { color: $sm-white; }

    li {
      list-style-type: none;
      margin-left: 0.25rem;
    }

    h2 {
      color: $sm-white;
      margin-top: 0;
    }

    .svg-images {
      span {
          color: $sm-white;
          display: inline-block;
          font-size: 7rem;
          margin-bottom: 0;
          vertical-align: super;
      }

      svg {
        height: 7rem;
        path { fill: $sm-white !important; }
        width: 7rem;
      }

      @media #{$mobile} {
        line-height: 1;
        svg {
          width: 5rem;
          height: 5rem;
        }
      }
    }

    h1 {
      color: $sm-white;
      font-size: 4rem;
    }

    li { display: inline-block; }

  }

  .section {
    padding: 6rem 0;
    background: $sm-off-white;

    @media #{$mobile} {
      padding: 4rem 0;

      h1 { text-align: center; }
      img { width: 100% !important; }

      .valign-wrapper {
        display: block;
      }

      .col + .col {
        margin-top: 2rem;
      }
    }

    h1 { color: $sm-gray; }

    &.kits {
      img {
        width: 75%;
        @extend .z-depth-1;
      }
    }

    &.lists {
      background-image: linear-gradient(rgba($sm-dark-blue-green, 0.9), rgba($sm-mid-blue-green, 0.95)), image-url('homepage/homepage-pattern.jpg');

      img { width: 500px; }
      h1, p { color: $sm-white; }

      @media #{$mobile} {
        img { height: auto; }
      }
    }

    &.payments {
      padding: 10rem 0;
      img {
        width: 100%;
        @extend .z-depth-1;
      }
    }

    &.signup {
      background: linear-gradient($sm-mid-blue-green, $sm-dark-green);
      padding: 12rem 0;
      h1, p { color: $sm-white; }
    }
  }
}
