.homepage {
  #signup {
    background-image: linear-gradient(rgba($sm-light-green, 0.9), rgba($sm-blue-green, 0.75)), image-url("homepage/elevator-background.jpg");
    text-align: center;
    height: 100vh;
    padding: 20vh 0;

    li { list-style-type: none; }
    h2 { color: $sm-white; }

    .svg-images {
      span {
          color: $sm-white;
          display: inline-block;
          font-size: 7rem;
          margin-bottom: 0;
          vertical-align: super;
      }

      svg {
        height: 7rem;
        path { fill: $sm-white !important; }
        width: 7rem;
      }

      @media #{$mobile} {
        line-height: 1;
        svg {
          width: 5rem;
          height: 5rem;
        }
      }
    }

    h1 {
      color: $sm-white;
      font-size: 4rem;
    }

    li { display: inline-block; }

    .signup {
      margin-top: 2rem;
      input {
        border-radius: 2px;
        height: 3rem;

        &.button {
          margin: 0 0 1rem;
          display: block;

          @media #{$mobile} { margin: 0 auto; }
        }
      }
    }
  }

  .section {
    padding: 6rem 0;
    background: $sm-off-white;

    @media #{$mobile} { padding: 4rem 0; }

    img {
      border-radius: 4px;
      box-shadow: 0 0 1px $sm-gray;

      @media #{$mobile} {
        width: 90%;
      }
    }

    h1 { color: $sm-gray; }

    &#grocery-section {
      img { height: 30rem; }
    }

    &#kit-section {
      background-image: linear-gradient(rgba($sm-dark-blue-green, 0.9), rgba($sm-mid-blue-green, 0.95)), image-url("homepage/homepage-pattern.jpg");
      h1, p { color: $sm-white; }
    }

    &#finish-section {
      overflow: hidden;
      height: 50rem;
      img { width: 70%; }
    }

    &#elevator-section {
      background: linear-gradient($sm-mid-blue-green, $sm-dark-green);
      padding: 8rem 0;
      h1, p { color: $sm-white; }
    }
  }
}
