#carry-over-modal {
  .drag-items {
    .drag {
      width: 100%;
      background: rgb(240, 240, 240);
      border-radius: 5px;
      padding: 10px;
      height: 15.5rem;
      max-height: 15.5rem;
      overflow-y: auto;

      .item {
        box-shadow: 1px 1px 2px rgb(200, 200, 200);
        border-radius: 2px;
        margin: 10px;
        padding: 10px;
        background-color: white;
        color: $gray;
        transition: all 0.4s ease-in-out;
        cursor: move;

        &.selected { background: $green; }

        i {
          float: right;
          margin-top: 4px;
          color: $red;
          cursor: pointer;
          &:hover { color: darken($green, 5%) }
        }
      }
    }
  }

  .done {
    margin-top: 1rem;
  }
}

@media #{$small-only} {
  #new-list-modal { top: 0 !important; }
}

.container.groceries-show {
  background-image: url("/assets/groceries/show-background.jpg");
  background-size: cover;

  .fa-archive {
    font-size: 5rem;
    display: block;
    width: 100%;
    text-align: center;
  }

  .add-items {
    margin-bottom: 2rem;
    text-align: center;
    padding: 0 1rem;

    @media #{$small-only} {
      padding-left: 0;
      padding-right: 0;
    }

    .items_ids {
      display: inline-block;
      width: 92.5%;

      @media #{$small-only} { width: 75%; }
      @media #{$medium-only} { width: 85%; }
    }

    .select2-choices {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding: 1px;
      max-height: 41px;
    }

    .select2-search-field input {
      margin: 0;
    }

    .button.add-button {
      border-radius: 0 !important;
      width: 60px;
      border-bottom-right-radius: 1000px !important;
      border-top-right-radius: 1000px !important;
      display: inline-block;
      margin-left: -4px;
      height: 41px;
      margin-bottom: 0;
      vertical-align: middle;
    }
  }

  #grocery-table tr {
    td:nth-child(6) {
      text-align: center;
      font-size: 1.2rem;
    }

    .dropdown {
      i {
        background: $green;
        padding: 6px 4px 4px 6px;
        border-radius: 20px;
        color: white;

        &:hover {
          background: darken($green, 5%);
        }
      }
    }

    .f-dropdown {
      width: inherit;
      padding: 2px;
    }
  }

  .select2-container { width: 100%; }
  .reload {
    vertical-align: middle;
    text-align: center;
  }

  .recipe-no-content {
    font-size: 6rem;
    text-align: center;
  }

  #recipes {
    width: 100%;
    position: relative;
    margin-left: 0;

    li {
      background: $dark-gray;
      img {
        margin: 0 auto;
        height: 25rem;

        @media #{$small-only} { height: 18rem; }
      }
    }
  }

  .orbit-container {
    height: 25rem;
    @media #{$small-only} { height: 18rem; }
    .orbit-caption {
      text-align: left;
      a {
        margin: 5px 0;
      }
    }
  }
}
