#carry-over-modal {
  .drag-items {

    .drag {
      width: 100%;
      background: rgb(240, 240, 240);
      border-radius: 5px;
      padding: 10px;
      height: 15.5rem;
      max-height: 15.5rem;
      overflow-y: auto;

      .item {
        box-shadow: 1px 1px 2px rgb(200, 200, 200);
        border-radius: 2px;
        margin: 10px;
        padding: 10px;
        background-color: white;
        color: $gray;
        transition: all 0.4s ease-in-out;
        cursor: move;

        &.selected { background: $new-bright-green; }

        i {
          float: right;
          margin-top: 4px;
          color: $new-red;
          
          &:hover { color: darken($new-red, 10%) }
        }
      }
    }
  }

  .done {
    margin-top: 1rem;
  }
}

@media #{$small-only} {
  #new-list-modal { top: 0 !important; }
}

body.gu-unselectable {
  overflow-y: auto;
}

.groceries-show {
  .fa-archive {
    font-size: 5rem;
    display: block;
    width: 100%;
    text-align: center;
  }

  .add-items {
    text-align: center;
    padding: 0 15px;

    .items_ids {
      display: inline-block;
      width: 93.5%;

      @media #{$small-only} { width: 75%; }
      @media #{$medium-only} { width: 85%; }
    }

    .select2-choices {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding: 1px;
    }

    .select2-search-field input {
      margin: 0;
    }

    .button.add-button {
      border-radius: 0 !important;
      height: 41px;
      width: 60px;
      border-bottom-right-radius: 1000px !important;
      border-top-right-radius: 1000px !important;
      display: inline-block;
      margin-left: -4px;
      height: 41px;
      line-height: 0;
    }
  }

  #grocery-table tr {
    td:nth-child(6) {
      text-align: center;
      font-size: 1.2rem;
    }

    .dropdown {
      i {
        background: $new-bright-green;
        padding: 6px 4px 4px 6px;
        border-radius: 20px;
        color: white;

        &:hover {
          background: darken($new-bright-green, 10%);
        }
      }
    }

    .f-dropdown {
      width: inherit;
      padding: 2px;
    }
  }

  .select2-container { width: 100%; }
}
