#carry-over-modal {
  #carry-over-table {
    max-height: 200px;
    
    tr {
      cursor: pointer;

      &:nth-of-type(even) {
        background: #f9f9f9 !important;
      }
      &.selected{ background: $new-red !important; }
    }
  }
}


.groceries-show {
  .fa-archive {
    font-size: 5rem;
    display: block;
    width: 100%;
    text-align: center;
  }

  .add-items {
    .button { margin-top: 1rem; }
  }

  #grocery-table tr {
    td:nth-child(6) {
      text-align: center;
      font-size: 1.2rem;
    }

    a.remove {
      i { color: $new-red; }
    }
  }
}
