.groceries-show {
  @media #{$mobile} {
    .dashboard-card {
      .card {
        margin-top: 2rem;
      }
    }
  }

  .fixed-action-btn {
    bottom: 5%;
    right: 5%;
    text-align: center;
    width: 9rem;

    &:hover {
      .btn-label {
        opacity: 1;
      }
    }

    ul {
      transform: translate(-36%, 0);
    }

    li {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .btn-floating {
      background: $sm-dark-blue-green;
    }

    .btn-large {
      background: $sm-dark-blue-green;

      &:hover {
        background: darken($sm-blue, 10%);
      }
    }

    .btn-label {
      color: $sm-white;
      margin: 0 0.5rem 0 0;
      opacity: 0;
      transition: opacity 1s;
      padding: 5px;
      background: $sm-dark-blue-green;
    }
  }
}
