nav.header {
  background: $dark-green !important;
  li, a { background: $dark-green !important; }
}

.magellan.header {
  background: $dark-green !important;

  ul, li { margin: 0; }
  li, a { background: $dark-green !important; }

  a {
    color: white !important;
    &:hover { background: $green; }
    padding: 0;
  }

  dd.active {
    background: $green !important;
    border-radius: 1rem;
    box-shadow: 0px 0px 1px rgb(129, 129, 129);

    a {
      color: white !important;
      background: none !important;
    }
  }
}
