nav.header {
  background: $dark-gray !important;
  li, a { background: $dark-gray !important; }
}

.magellan.header {
  background: $dark-gray !important;

  ul, li { margin: 0; }
  li, a { background: $dark-gray !important; }

  a {
    color: white !important;
    &:hover { background: $red; }
    padding: 0;
  }

  dd.active {
    background: $red !important;
    border-radius: 1rem;
    box-shadow: 0px 0px 1px rgb(129, 129, 129);

    a {
      color: white !important;
      background: none !important;
    }
  }
}
