.container.users-edit
  .row
    .columns.large-8.large-centered
      .widget
        .header
          %h1 Need a change?
        .main
          = simple_form_for @user do |f|
            .row
              .columns.large-6.large-centered
                = f.input :name
                = f.input :email
                = f.button :submit, 'Update'
