.container.users-edit
  .row
    .col.l8.offset-l2
      = simple_form_for @user, remote: true do |f|
        .card
          .card-content
            %h3 Change profile
            .row
              .col.l12
                = f.input :name
                = f.input :email
          .card-action
            = f.button :submit, 'Update'
