@import 'variables';

$background-color: $sm-light-gray;
$primary-text-color: $sm-gray;

body {
  font-family: 'Oxygen', sans-serif;
  $primary-font-weight: 100;
  background: $sm-light-gray;
  color: $primary-text-color;
}

li {
  display: flex;
  align-items: center;
}

p {
  width: 15rem;
}
