.widget.active-grocery-table
  .header
    %h3 Groceries for #{@active_grocery.name}
  .main
    .row
      .columns.large-12
        %table#active-grocery-table.responsive.no-wrap
          %thead
            %tr
              %th Name
              %th Description
              %th Last Updated