.widget.groceries-table
  .header
    %h3 Grocery Lists
  .main
    .row
      .columns.large-12
        %table#groceries-table.responsive.no-wrap
          %thead
            %tr
              %th Name
              %th Description
              %th Items
              %th Last Updated