.about
  .row
    .columns.large-12
      %h1 Supermarkit
      %p We're a grocery app born out of the need for a better solution to get food from the store to our mouths. If you also struggle with this issue, or just want to see what we're all about, make an account and try us out.
      %p
        Want to get in touch? Email us at
        = mail_to 'us@supermarkit.ca'

      %p
        Have a functionality suggestion? The entire project is available online on
        = link_to 'our GitHub', 'https://github.com/danReynolds/softgroceries'

      %p - SupermarKit Team


