.container.groceries-checkout
  .row
    .col.l10.offset-l1
      .card
        .card-content
          %h3 Pay for your groceries
          .row
            .col.l12
              = react_component 'Checkout', @checkout_data
