.widget.active-grocery-table
  .header
    %h3 Groceries for #{@active_grocery.name}
  .main
    .row
      .columns.large-12
        %h3 You Only Eat Twice
        %table#active-grocery-table.display.responsive.nowrap
          %thead
            %tr
              %th ID
              %th Name
              %th Description
              %th Price
              %th Last Updated
          %tfoot
            %tr
              %th.text-right{colspan: 4}
                Total:
              %th
    .row
      .columns.large-12
        = link_to "View current groceries", @active_grocery, class: :button