.widget.active-grocery-table
  .header
    %h3
      Groceries for
      = link_to @active_grocery.name, @active_grocery
  .main
    .row
      .columns.large-12
        %table#active-grocery-table.display.responsive.nowrap
          %thead
            %tr
              %th ID
              %th Name
              %th Description
              %th Price
              %th Last Updated
          %tfoot
            %tr
              %th.text-right{colspan: 4}
                Total:
              %th