.widget.active-grocery-table
  .header
    %h3
      Current Groceries for
      %strong= @active_grocery.name
  .main
    .row
      .columns.large-12
        %table#active-grocery-table.display.responsive.nowrap
          %thead
            %tr
              %th ID
              %th Name
              %th Description
              %th Quantity
              %th Total Price
          %tfoot
            %tr
              %th.text-right{colspan: 4}
                Total:
              %th
    .row
      .columns.large-12
        = link_to "View current groceries", @active_grocery, class: :button
