.widget.groceries-table
  .header
    %h3 All Grocery Lists
  .main
    %table#groceries-table.display.responsive.no-wrap
      %thead
        %tr
          %th ID
          %th Name
          %th Description
          %th Items
          %th Total Cost
          %th Finished
    .row
      .columns.large-12
        = link_to 'Create a new grocery list', new_user_group_grocery_path(@user_group), class: :button