.widget.groceries-table
  .header
    %h3 All Grocery Lists
  .main
    %table#groceries-table.display.responsive.no-wrap
      %thead
        %tr
          %th ID
          %th Name
          %th Description
          %th Items
          %th Total Cost
          %th Finished
