.widget.metrics
  .header
    %h3 #{@user_group.name} Metrics
  .main
    .row
      .columns.large-12.text-center
        = fa_icon 'sitemap'
        %p Review your past shopping habits and group statistics.
    .row
      .columns.large-12
        = link_to 'View metrics', metrics_user_group_path(@user_group), class: :button