.internal-server-error
  = inline_svg 'svgs/banana.svg', class: 'banana'
  %p
    Looks like we slipped and the site fell down. Let us know what happened by sending an email to our
    = mail_to 'support@supermarkit.io', 'support', class: :highlight
