.alert-box {
  background: rgb(242, 138, 134);
  border: none;
  display: block;
  height: 50px;
  left: 0;
  margin-top: 5px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 50px;
  width: 95%;
  z-index: 10000;

  &.notice { background: $sm-green !important; }
  &.alert { background: $sm-red !important; }
}
