.button {
  background: $green;
  border-bottom: 2px solid $light-green;
  border-radius: 0.4rem !important;
  color: white !important;
  padding: 0.7rem 1.2rem;

  &:hover { background: darken($green, 10%) }
}
