.container {
  background-image: linear-gradient($dark-green, rgba($dark-blue-green, 0.95)),
                    image-url('homepage/homepage-pattern.jpg');
  min-height: 100%;
  @media #{$medium-up} { padding: 6rem 0 3rem 0; }
  @media #{$small-only} { padding: 1rem 0; }
}
