a.editable-click, a.editable-click:hover {
  border-bottom: none;
}

.editable-container {
  background: rgb(171, 171, 171);
  background: white;
  border-radius: 7px;
  border: 2px solid #DDDDDD;
  margin-top: 0.5rem;
  padding: 0.75rem;
  padding: 17px;
  position: relative;

  @media #{$small-only} { padding: 0.5rem; }

  button, input {
    border-radius: 0.4rem !important;
    padding: 0.7rem 1.2rem;
    margin-bottom: 0;
  }

  input { height: 2.6rem; }

  .editable-cancel {
    background: $gray;

    &:hover { background: darken($gray, 10%); }
  }
}

.editable-container:after, .editable-container:before {
  border: solid transparent;
  bottom: 100%;
  content: ' ';
  height: 0;
  left: 50%;
  pointer-events: none;
  position: absolute;
  width: 0;
}

.editable-container:after {
  border-color: transparent;
  border-bottom-color: white;
  border-width: 10px;
  margin-left: -10px;
}
.editable-container:before {
  border-color: transparent;
  border-bottom-color: $green;
  border-width: 13px;
  margin-left: -13px;
}

.editable-empty, .editable-empty:hover { color: $green; }
