.off-canvas-wrap
.select2-choices
.select2-search-choice {
  background-color: #FAFAFA;
  background-image: none;
  border: 1px solid lighten($light-gray, 10%);
  color: $gray !important;
  height: 2rem;
  padding-top: 0.5rem !important;
}

.select2-result-selectable {
  color: $gray;

  &.select2-highlighted {
    background: $green;
    color: white;
  }
}

.select2-no-results {
  background-color: white;
  border-top: 1px solid rgb(247, 247, 247);
  color: $gray;
}

.select2-container { width: 75%; }
.select2-search-choice-close { top: 0.5rem; }
.select2-result-label { margin-top: 0.8rem; }
.select2-drop-active { border: none; }

.select2-choices {
  background-image: none !important;
  border: 1px solid lighten($light-gray, 25%);
  border-radius: 3px;
}

.off-canvas-wrap {
  .select2-active {
    transition: none;
  }
}
