span.badge {
  padding: 0.3rem 0.7rem;
  background: $sm-green;

  @extend .new;
  &.secondary { background: $sm-blue; }
  &:after { content: none; }
}

.price {
  background: $sm-light-gray;
  border-radius: 2px;
  height: 28px;
  line-height: 2;
  margin-left: auto;
  margin-right: 0.3rem;
  padding: 0 5px;
}
