.btn {
  color: $sm-white;
  background: $sm-green;
  margin-top: 0.5rem;
  text-transform: none;
  &.secondary {
    color: $sm-white !important;
    background: $sm-mid-blue-green;
    &:hover { background: lighten($sm-mid-blue-green, 10%); }
  }
  &.cancel {
    color: $sm-white !important;
    background: $sm-red;
    &:hover { background: lighten($sm-red, 10%); }
  }
  &:hover {
    background: darken($sm-green, 10%)
  }
}
