.card {
  margin-top: 0;

  .card-content, .card-action {
    padding: 1.5rem 3rem;

    &.wide {
      padding: 1.5rem;
    }

    @media #{$mobile} {
      padding: 1.5rem 2.5rem;
    }
  }

  .card-action {
    .btn {
      margin-top: 0;
    }
  }

  .card-content {
    h3 {
      margin-top: 0;
    }

    &.full-width {
      padding: 0;

      h3 {
        margin: 0;
        padding: 1.25rem;
      }
    }

    &.dark {
      .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        i {
          font-size: 2rem;
          padding-right: 1.5rem;
          color: $sm-white;
        }

        h3 {
          color: $sm-white;
        }
      }

      .card-header {
        background: $sm-dark-blue-green;
      }
    }
  }

  .card-reveal {
    overflow: hidden;
    padding: 0;
    margin-top: -2px;
  }

  .card-reveal-controls {
    position: absolute;
    bottom: 2rem;
    right: 1rem;

    a { display: inline-block !important; }
    a + a { margin-left: 0.5rem; }
  }
  &.image-wrapper { padding: 0; }
}
