.checkout {
  .totals {
    padding-right: 1rem;
    margin-bottom: 1rem;
    float: right;
  }

  .total {
    border-radius: 5px;
    font-size: 2rem;
  }

  .card-action {
    clear: both;
  }

  ul {
    max-height: 24rem;
    overflow: auto;
  }

  .user-content {
    margin-bottom: 1.5rem;

    @extend .valign-wrapper;

    &+li {
      border-top: 1px solid $sm-light-gray;
      padding-top: 1.5rem;
    }

    img {
      border-radius: 50%;
    }

    .name {
      margin: 0 1rem;
    }

    .balance-wrapper {
      font-size: 1rem;
      padding: 0 1rem;

      @media #{$mobile} {
        padding: 0;
      }
    }

    .balance {
      margin-left: 0.5rem;
      display: inline-block;
    }

    .balance-section {
      @extend .valign-wrapper;
    }

    .contribution-checkbox {
      @media #{$mobile} {
        padding-left: 1rem;
      }
    }

    .positive {
      i { color: $sm-green; }
    }

    .negative {
      i { color: $sm-red; }
    }

    .zero {
      i { color: $sm-blue; }
    }

    p {
      width: 4rem;
      text-overflow: ellipsis;
      overflow-x: hidden;
      word-wrap: normal;

      @media #{$mobile} {
        width: 2rem;
      }
    }

    .input-field {
      margin-left: auto;
      margin-right: 3.5rem;

      @media #{$mobile} {
        margin-right: 1.25rem;
        width: 6rem;
      }
    }
  }
}
