.groceries-checkout {
  .totals {
    padding-right: 1rem;
    margin-bottom: 1rem;
    float: right;
  }

  .total {
    border-radius: 5px;
    font-size: 2rem;
  }

  .card-action {
    clear: both;
  }

  .card {
    margin: 0;
  }

  ul {
    max-height: 24rem;
    overflow: auto;
  }
}
