.item-list {
  .card {
    background: transparent;
    box-shadow: none !important;
  }

  .card-content {
    padding: 0rem;
    position: relative;
  }

  .no-items {
    margin: 2rem;
    text-align: center;

    i {
      color: $sm-light-green;
      font-size: 4rem;
    }

    h3 {
      color: $sm-gray;
    }
  }

  .pagination {
    margin: 0 auto;
    display: table;
    width: initial;

    a { color: $sm-dark-gray !important; }
    .active {
      background: $sm-green;
      height: 1.5rem;
    }
    li {
      line-height: 0.8rem;
      margin: 0 3px !important;
    }
  }

  .collection-item {
    &.active {
      margin: 0.6rem !important;
      border-bottom: none;
      color: $sm-gray;
      background: $sm-white;
    }
    p { margin-left: 1rem; }
  }

  .card-header {
    background: $sm-dark-blue-green;
  }

  h3 {
    color: $sm-white;
    margin: 0;
    padding: 1.5rem;
  }

  .collapsible-header {
    border-bottom: none;
    width: 100%;
    @extend .valign-wrapper;

    img {
      @include size(2.5rem);
    }
  }

  .price {
    background: $sm-light-gray;
    border-radius: 2px;
    height: 28px;
    line-height: 2;
    margin-left: auto;
    padding: 0 5px;
  }

  .collapsible-body {
    border-bottom: none;
  }

  .collapsible {
    margin: 0;
    background: $sm-light-gray;

    li {
      box-shadow: none;
      margin: 0;
      padding: 0.3rem;
    }
  }

  .btn-floating {
    background: $sm-green;
    position: absolute;
    bottom: -1.8rem;
    right: 1rem;
  }

  img {
    border-radius: 50%;
  }
}
