a {
  color: $sm-light-gray !important;
  cursor: pointer;
  text-transform: none !important;
  &.highlight, &:hover { color: $sm-green !important; }
  &.dark:not(.btn) { color: $sm-dark-gray !important; }
}
