.modal {
  height: 100%;
  max-height: initial !important;
  overflow: hidden;

  @media #{$desktop} {
    height: 55%;
    width: 50% !important;
    margin: 0 auto !important;
  }

  .modal-content {
    padding: 0;
  }
}
