.modal {
  height: 100%;
  max-height: initial !important;
  overflow: hidden;

  @media screen and (max-height: 400px) {
    .reveal-controls {
      display: none;
    }
  }

  @media #{$desktop} {
    height: 55%;
    width: 50% !important;
    margin: 0 auto !important;
  }

  .modal-content {
    padding: 0;
  }

  .modal-footer {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }
}

.modal-reveal {
  li {
    background: $sm-white;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    width: 95%;

    p { margin-left: 1rem; }
    img {
      border-radius: 50%;
      height: 3rem;
    }
  }

  .reveal-controls {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }

  .input-field { height: 100%; }

  .multiselect { margin-bottom: 0; }
  .selection-container { margin: 0 !important; }

  .results-container {
    max-height: 22rem;
    @media #{$desktop} {
       max-height: 13.2rem;
    }
    overflow: auto;
  }

  .target {
    background: $sm-green;
    p { color: $sm-white; }
  }
}
