.multiselect {
  margin-bottom: 0.75rem;
  position: relative;

  .btn-floating {
    position: absolute;
    right: 1rem;
    bottom: -2rem;
  }

  .selection-container {
    box-shadow: 0 0 1px $sm-gray;
    flex-direction: row;
    flex-wrap: wrap;
    height: 5rem;
    margin: 2rem 0;
    overflow: auto;
    padding: 1rem;
    width: 100%;

    .fa-close {
      cursor: pointer;
      float: right;
      font-size: 16px;
      line-height: 33px;
      padding-left: 8px;
    }
  }

  .active { background: $sm-green; }
  .chip { margin: 0.6rem 0.5rem; }
}
