.multiselect {
  .selection-container {
    box-shadow: 0 0 1px $sm-gray;
    min-height: 5rem;
    max-height: 9rem;
    overflow: auto;
    padding: 1rem;
    width: 100%;

    flex-wrap: wrap;
    flex-direction: row;

    i {
      cursor: pointer;
      float: right;
      font-size: 16px;
      line-height: 32px;
      padding-left: 8px;
    }
  }
  .targetted { background: $sm-green; }
  .chip { margin: 0.5rem 0.75rem 0.5rem 0; }
}
