nav {
  background: $sm-dark-blue-green;
  transition: background 0.2s linear;
  z-index: 999;

  &.top {
    background: none;
    box-shadow: none;
    transition: box-shadow 0.2s linear;
    svg {
      opacity: 0;
      transition: opacity 0.3s linear;
    }
  }

  svg {
    @include size(4rem);
    fill: $sm-white;
    &:hover {
      path { fill: $sm-green !important };
    }
  }
}

.navigation {
  z-index: initial;
}

.side-nav {
  width: 250px;

  i {
    margin-right: 1rem !important;
  }

  a {
    display: flex;
    align-items: center;
    padding: 0;
    padding-left: 2rem;
  }

  i {
    width: 3rem;
    font-size: 1.5rem;
    color: $sm-dark-blue-green;
    text-align: center;
    height: auto;
    padding-right: 1rem;
  }
}

.nav-wrapper {
  i { margin-left: 0.75rem; }
}
