.payments-card {
  padding: 0.5rem 0;

  ul {
    border-top: none;
    margin: 0 auto;
  }

  .no-payments {
    padding: 4rem 0 2rem 0;
    text-align: center;

    i {
      font-size: 2.5rem;
      margin-top: 2rem;
    }
  }

  .payments {
    box-shadow: none;

    li {
      box-shadow: none !important;
      margin: 0;
      padding: 1.5rem;

      &+li {
        border-top: 1px solid $sm-light-gray;
      }
    }

    h2 {
      margin: 0 0 1rem 0.5rem;
    }

    .collapsible-body {
      margin-left: 4rem;
    }

    .grocery-information {
      margin: 1rem 0;

      @media #{$desktop} {
        display: flex;
        align-items: center;
      }

      a {
        margin-top: 1rem;
      }

      .col + .col {
        @media #{$desktop} {
          text-align: right;
        }
      }
    }

    .item-container {
      display: flex;
      flex-wrap: wrap;
      max-height: 20rem;
      overflow: auto;

      @media #{$desktop} {
        height: initial;
      }
    }

    .chip {
      margin: 0.5rem;
    }

    .nested-payment {
      padding: 0;
    }
  }

  .fa-shopping-basket {
    color: $sm-gray;
  }

  .fa-user {
    color: $sm-dark-green;
  }

  .left-content {
    @extend .valign-wrapper;

    @media #{$desktop} {
      width: 40%;
    }
  }

  .right-content {
    @extend .valign-wrapper;
  }

  .collapsible-header {
    padding-right: 0;
    @extend .valign-wrapper;

    @media #{$mobile} {
      display: block;

      .price { display: inline-block; }
    }
  }

  .collapsible-body {
    p {
      padding: 1.25rem;
    }
  }

  .label-content {
    &+.label-content {
      margin-left: 2rem;
    }

    p {
      margin-top: -1.3em;
    }
  }

  .grocery-payment {
    .left-content { width: 35.5%; }
  }

  .user-payment {
    .collapsible-header {
      cursor: auto;
    }

    .fa-long-arrow-right {
      margin: 0 1rem;
      color: $sm-gray;
    }

    img {
      margin-right: 1rem;
    }
  }

  img {
    border-radius: 50%;
    width: 2.5rem;
  }
}
