.groceries-receipt {
  .dropzone {
    margin: 3rem;
    @media #{$mobile} {
      margin: 3rem 0;
    }
  }

  ul {
    margin-top: 2rem;
  }

  .right-content {
    align-items: baseline;
    display: flex;
    margin-left: auto;
  }

  .total {
    font-size: 2rem;
    margin: 1.5rem .5rem 0 0;
    text-align: right;
  }

  .confidence {
    margin-right: 1.5rem;

    &.weak { color: $sm-red; }
    &.moderate { color: $sm-orange; }
    &.strong { color: $sm-green; }

    i { font-size: 1.25rem; }
  }

  .new {
    margin-left: 0;
    margin-right: .75rem;
  }

  .receipt-item {
    @include list-item-shadow;

    margin: 1rem .5rem;
    padding: 1rem;
  }
}
