.recipe-result {
  padding: 1rem 1.5rem;

  p {
    margin: 0 0 3px 0 !important;
    padding: 0;
    color: $sm-dark-gray;
  }

  i {
    color: $sm-dark-gray;
    width: 1.5rem;
  }

  .info {
    display: inline-block;
    padding: 1rem;
  }

  a {
    margin-left: auto;
  }

  .description {
    width: 50%;
  }

  img {
    border-radius: 50%;
    @include size(5rem);
  }
}
