.recipe-result {
  padding: 1rem 2rem;

  p {
    margin: 0 0 3px 0 !important;
    padding: 0;
    color: $sm-dark-gray;
  }

  i {
    color: $sm-dark-gray;
    width: 1.5rem;
  }

  .info {
    display: inline-block;
    padding: 1rem;
  }

  i {
    width: 1.5rem;
  }

  a {
    margin-left: auto;
  }

  img {
    border-radius: 50%;
    width: 6rem;
    height: 6rem !important;
  }
}
