.slack-message {
  margin: 0 1rem;

    &+.slack-message {
      border-top: 1px solid $sm-gray;
    }

  .collapsible-header {
    display: flex;
    align-items: center;

    label {
      margin: 6px 0 0 auto;
      padding-left: 24px;
    }
  }

  p { padding: 0; }
}
