.social-icons {
  $plain-text-color: $sm-white;
  $active-text-color: $sm-gray;
  $active-background-color: $sm-light-gray;

  margin-top: 0.5rem;
  @media #{$tablet} { margin-top: 3rem; }

  a {
    color: $plain-text-color;
    margin-left: 0 !important;
    width: 100%;

    &.facebook { background: $facebook-color; }
    &.google { background: $google-color; }
    &.github { background: $github-color; }
    &:hover {
      &.facebook { background: darken($facebook-color, 10%); }
      &.google { background: darken($google-color, 10%); }
      &.github { background: darken($github-color, 10%); }
    }
  }

  i { color: $plain-text-color; }
}
