.user-item {
  margin-bottom: 1.5rem;
  @extend .valign-wrapper;

  .user-item-content {
    @extend .valign-wrapper;
  }

  a {
    margin-left: auto;
  }

  &+li {
    border-top: 1px solid $sm-light-gray;
    padding-top: 1.5rem;
  }

  img {
    border-radius: 50%;
  }

  .name {
    margin: 0 1rem !important;
  }

  .balance-wrapper {
    font-size: 1.5rem;
    margin-top: -1rem;
    line-height: 1.35;
  }

  .balance {
    margin-left: 0.5rem;
    display: inline-block;
  }

  .balance-section {
    @extend .valign-wrapper;
    @media #{$mobile} {
      font-size: 1rem;
    }
  }

  .contribution-checkbox {
    @media #{$mobile} {
      padding-left: 20px;
      margin-left: auto;
    }
  }

  i {
    @media #{$mobile} {
      font-size: 1rem;
    }
  }

  .positive {
    i { color: $sm-green; }
  }

  .negative {
    i { color: $sm-red; }
  }

  .zero {
    i { color: $sm-blue; }
  }

  p {
    width: 4rem;
    text-overflow: ellipsis;
    overflow-x: hidden;
    word-wrap: normal;

    @media #{$mobile} {
      width: 2rem;
    }
  }

  .input-field {
    margin-left: auto;
    margin-right: 3.5rem;

    @media #{$mobile} {
      margin-right: 0;
      margin-left: 1rem;
      width: 5rem;
    }
  }
}
