.user-item {
  margin-bottom: 1.5rem;
  @extend .valign-wrapper;

  &:first-child {
    margin-right: 54px;
  }

  .user-item-content {
    @extend .valign-wrapper;
    flex: 1;
  }

  .btn {
    margin-left: auto;
  }

  &+li {
    border-top: 1px solid $sm-light-gray;
    padding-top: 1.5rem;
  }

  img {
    border-radius: 50%;
  }

  .balance-wrapper, .name-wrapper {
    font-size: 1.3rem;
    margin-top: -0.5rem;
    line-height: 1.35;
    padding: 0 1rem;
    flex: 1;

    &.name-wrapper { font-size: 1.2rem; }
  }

  .balance {
    margin-left: 0.5rem;
    display: inline-block;
  }

  .balance-section {
    @extend .valign-wrapper;
    @media #{$mobile} {
      font-size: 1rem;
    }
  }

  .contribution-checkbox {
    @media #{$mobile} {
      padding-left: 20px;
      margin-left: auto;
    }
  }

  i {
    @media #{$mobile} {
      font-size: 1rem;
    }
  }

  .positive {
    i { color: $sm-green; }
  }

  .negative {
    i { color: $sm-red; }
  }

  .zero {
    i { color: $sm-blue; }
  }

  .input-field {
    margin-left: auto;
    margin-right: 3.5rem;

    @media #{$mobile} {
      margin-right: 0;
      margin-left: 1rem;
      width: 5rem;
    }
  }
}
