body {
  background: white !important;
  font-weight: 100;
  color: $sm-gray;

  h1 { color: white };

  h2, h3, p, li {
    color: $sm-gray;
    word-wrap: break-word;
  }

  input, textarea {
    border-radius: 5px !important;
    color: $sm-gray !important;
  }

  a {
    color: $sm-gray;

    &.highlight, &:hover { color: $sm-green; }
  }

  .wide {
    padding: 0;
  }

  #squiggle { fill: $sm-green; }
}
