body {
  h1, h2, h3, p, a { color: $gray !important; }

  input.button {
    background: $light-green;
    &:hover { background: $green; }
    &:visited, &:focus { background: $light-green; }
  }

  .select2-container {
    width: 500px !important;
  }
}