body {
  background: $white !important;
  
  h1, h2, h3, p {
    color: $gray;
    word-wrap: break-word;
  }
  a, a:hover { color: $light-green; }
  input, textarea { border-radius: 3px !important; }

  #meal, #man, #measure { fill: $gray; }

  .container {
    padding-top: 2rem;
    @media #{$medium-up} { padding: 4rem 0;}
    height: 100%;
    background: $white;
    overflow: auto;
  }

  .button {
    padding-top: 0.85rem;
    &.misc {
      background: $blue;
      &:hover { background: darken($blue, 10%) } 
    }
    &.back {
      background: $gray;
      &:hover { background: darken($gray, 10%) } 
    }
    &.success {
      background: $light-green;
      &:hover { background: darken($light-green, 10%) } 
    }
    &.disabled {
      background: $gray;
      &:hover { background: $gray; }
      opacity: 1;
    }
  }
  .button-group {
    @media #{$medium-up} {
      li { margin: 0; }
      li + li { margin: 0 0.4rem; }
    }
    @media #{$small-only} {
      .right {
        float: left !important;
      }
    }
  }

  table {
    width: 100% !important;
    box-shadow: 0px 0px 1px rgb(179, 179, 179);
    border: none;

  }
  tr td, tr th { color: $gray !important; }

  .widget {
    background: white;
    box-shadow: 1px 1px 1px lighten($black, 50%);
    margin: 0.8rem;
    margin-bottom: 2rem;

    .main { padding: 1.5rem; }
    .header {
      @extend .main;
      background: $mid-green;
      h1, h2, h3 { color: $white; }
    }
    h3 {
      padding: 0;
      margin: 0;
    }
  }

  .select2-search-choice {
    height: 2rem;
    padding-top: 0.5rem !important;
    border: 1px solid $light-green !important;
    background: $white;
  }

  .select2-container { width: 75% !important; }
  .select2-search-choice-close { top: 0.5rem !important; }
  .select2-result-label { margin-top: 0.8rem; }
  .select2-choices { border-radius: 3px; }

  .off-canvas-wrap, .inner-wrap {
    height: 100%;
    &.off-canvas-wrap { overflow: auto; }
  }
}
