body {
  background: $white !important;
  h1, h2, h3, p { color: $black; }
  a, a:hover { color: $dark-green; }

  .container {
    padding-top: 4rem;
    height: 100%;
    background-image: asset-url('assets/wallpaper/restaurant_icons.png');
  }

  .button { padding-top: 0.85rem; }
  .button-group {
    .button.secondary {
    }
    li { margin: 0 0.4rem; }
  }
  table { width: 100% !important; }

  .widget {
    background: white;
    box-shadow: 1px 1px 1px lighten($black, 50%);
    margin: 0.8rem;
    margin-bottom: 2rem;

    .header {
      padding: 1rem;
      background: $green;
      h3 { color: $white; }
    }
    .main {
      padding: 1.5rem;
    }
    h3 {
      padding: 0;
      margin: 0;
    }
  }

  .select2-search-choice {
    height: 2rem;
    padding-top: 0.5rem !important;
    border: 1px solid $dark-green !important;
    background: $white;
  }

  .select2-container { width: 75% !important; }
  .select2-search-choice-close { top: 0.5rem !important; }
  .select2-result-label { margin-top: 0.8rem; }

  .off-canvas-wrap, .inner-wrap {
    height: 100%;
    &.off-canvas-wrap { overflow: auto; }
  }
}
