body {
  background: $white !important;
  h1, h2, h3, p, a { color: $text-color; }

  .button {
    background: $button-color;
    &:hover { background: $green; }
    &:visited, &:focus { background: $button-color; }
    padding-top: 0.8rem;
  }

  .container {
    height: 100%;
    background-image: asset-url('assets/wallpaper/restaurant_icons.png');
  }

  .widget {
    background: $white;
    box-shadow: 1px 1px 1px lighten($gray, 50%);

    .header {
      padding: 1rem;
      background: $green;
      h3 { color: $white; }
    }
    .main {
      padding: 1.5rem;
    }
    h3 {
      padding: 0;
      margin: 0;
    }
  }

  .chosen-select.items {
    .chosen-choices {
      margin-top: 1rem !important;
      height: 5rem !important;

      .search-choice {
        display: inline-block;
      }
    }

    .chosen-drop {
      .active-result.highlighted {
        background-color: $green !important;
        background-image: none !important;
      }
    }
  }
}
