// =========================
// Font Styles
// =========================
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

// =========================
// SupermarKit Colours
// =========================
$bright-green: #B9E971;
$light-green: #CFF09E;
$green: #A8DBA8;
$dark-green: #79BD9A;
$white: #FAFAEE;
$gray: #b9b9b9;
$black: #535350;

