// =========================
// Font Styles
// =========================

// =========================
// SupermarKit Colours
// =========================
$off-green:   #2B9163;
$light-green: #31D873;
$mid-green:   #28BB83;
$green:       #22A070;
$white:       rgb(253, 253, 253);
$gray:        #7C7C7C;
$black:       #535350;
$blue:        #319FD8;

