// =========================
// SupermarKit Colours
// =========================

$green:                 #22A070;
$header-green:          #1E9065;
$bright-green:          #5AF2AC;
$light-gray:            #A6A6A6;
$gray:                  #8B8B8B;
$dark-gray:             rgb(58, 58, 58);
// $red:                   #FF8D8D;
$light-blue:            #59C9FA;
$blue:                  rgb(46, 125, 100);

// Site Redesign
$red:                   #F98E41;
$dark-red:              #D77F41;
