html { height: 100%; }

body {
  $font-family: 'Oxygen', sans-serif;
  $primary-text-color: $sm-gray;
  $primary-font-weight: 100;

  background-image: linear-gradient($sm-dark-green, rgba($sm-dark-blue-green, 0.95)), image-url('homepage/homepage-pattern.jpg');
  background-attachment: fixed;
  color: $primary-text-color;
  font-weight: $primary-font-weight;
  font-family: $font-family;
  min-height: 100%;

  h1 {
    font-size: 2rem;
    margin-top: 1rem;
  }
  h2 { font-size: 1.5rem; }
  h3 { font-size: 1.25rem; }

  h2, h3, p, li {
    color: $sm-gray;
    word-wrap: break-word;
  }

  .col { @extend .s12; }

  .row { margin-bottom: 0; }
  .row + .row { margin-top: 20px; }

  span.error { color: $sm-red; }
}
