#map {
  height: 15rem;
  width: 100%;
}

.controls {
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  height: 32px;
  margin-top: 16px;
  outline: none;
}

#pac-input {
  background: $sm-white;
  padding: 2px;
  text-overflow: ellipsis;
  text-indent: 0.5rem;
  width: 90%;
  top: 1rem !important;
  left: 4% !important;

  &:focus { border-color: #4d90fe; }
}
