.user-groups-index {
  .title { padding-bottom: 3rem; }
  .group {
    .wrapper {
      box-shadow: 0px 0px 1px #B7CDBF;
      text-align: center;
      padding: 2rem 0 0 0 !important;
      width: 80%;
      margin: 0 auto;
      background: white;
      height: 17rem;

      p {
        margin: 0;
        padding: 1rem;
      }

      &:hover {
        p { color: white; }
        background: $black;
      }

      i {
        font-size: 10rem;
        color: $light-green;
      }
    }
  }
}