.user-groups-index {
  
  .hvr-grow {
      display: inline-block;
      vertical-align: middle;
      transform: translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      transition-duration: 0.3s;
      transition-property: transform;
  }

  .hvr-grow:hover,
  .hvr-grow:focus,
  .hvr-grow:active {
      transform: scale(1.02);
  }

  .title { padding-bottom: 3rem; }
  .group {
    text-align: center;
    .wrapper {
      box-shadow: 0px 0px 1px #B7CDBF;
      text-align: center;
      padding: 2rem 0 0 0 !important;
      width: 80%;
      margin: 0 auto;
      background: white;
      height: 17rem;
      border-radius: 0.4rem;

      p {
        margin: 0;
        padding: 1rem;
      }

      i {
        font-size: 10rem;
        color: $new-bright-green;
      }
    }
  }
}
