.user-groups-show {
  h1 {
    color: $sm-white;
  }

  .kit-actions {
    margin: 0;

    i {
      font-size: 2rem;
      color: $sm-light-green;
    }

    li {
      @extend .valign-wrapper;
      
      &+ li {
        border-top: 1px solid $sm-light-gray;
        margin-top: 1rem;
        padding: 1.5rem 0 0.5rem 0;
      }
    }

    .actions {
      font-size: 1rem;
    }

    a {
      margin-left: 1rem;
      color: $sm-gray !important;
      &:hover { color: $sm-green !important; }
    }
  }
}
