#error-messages
  - if params[:errors].present?
    #error
      - params[:errors].each do |msg|
        .alert-box.radius{data: { alert: true }}
          = h(msg)
          = link_to '#', class: 'close' do
            &times
